@model ProductoVM;

@{
    var titulo = Model.ProdcutoId == 0 ? "Nuevo Producto" : "Editar Producto";
    var btnAcccion = Model.ProdcutoId == 0 ? "Agregar" : "Guardar";
}

<div class="row">
    <h2>@titulo</h2>
    <hr />
    <div class="col-6">
        <form action="/Producto/AddEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProdcutoId" />

            <div class="mb-3">
                <label class="form-label">Categoría</label>
                <select class="form-select" asp-for="Categoria.CategoriaId" asp-items="@Model.Categorias">
                    <option selected disabled>--Seleccionar--</option>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="Nombre" autocomplete="off">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <textarea id="summernote" class="form-control" asp-for="Descripcion" autocomplete="off"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" class="form-control" asp-for="Precio" autocomplete="off">
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" asp-for="Stock" autocomplete="off">
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Subir Imagen</label>
                <input type="file" class="form-control" asp-for="ImageFile">
            </div>


            @if (ViewBag.message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.message
                </div>
            }

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary" type="submit">@btnAcccion</button>
                <a href="/Producto/Index" class="btn btn-warning">Volver</a>
            </div>

        </form>
    </div>

    <div class="col-6">
        <img src="~/images/@Model.ImgNombre" class="rounded" width="300" height="320" alt="@Model.Nombre" />
    </div>
</div>

@section Styles {
    <link href="~/lib/summernote/dist/summernote.min.css" rel="stylesheet" />
    <link href="~/lib/summernote/dist/summernote-bs5.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/summernote/dist/summernote.min.js"></script>
    <link href="~/lib/summernote/dist/summernote-bs5.min.css" rel="stylesheet" />

    <script>
                $(document).ready(function() {
          $('#summernote').summernote();
        });
    </script>

}
